<div class="container">

	<div class="page-header">
		<h3>Vote - Shihu's Reunion Party</h3>
	</div>

	<p class="question">When should we hold our reunion party?</p>

	<table class="table table-striped">
		<thead>
			<tr>
				<td>Dates</td>
				<td>Shihus</td>
				<td>Votes</td>
			</tr>
		</thead>
		<!-- ng-repeat directive for-loop a collection, {{}} means angular binding, only "local variable needs binding"; 
		 Scope varialbe doesn't need this binding sign-->
		<tr ng-repeat="rDate in dates">
			<td class="dates">{{rDate.rDate}}</td>
			<td><img ng-repeat="imgUrl in rDate.imgs" ng-src="{{imgUrl}}" style="float: left; height: 50px; width: 50px; vertical-align: baseline; margin: 0px 3px 3px 0px"/></td>
			<td>{{rDate.votes}}</td>
			<td><input class="btn btn-small btn-primary custom-btn" type="submit" value="{{rDate.voteFlag}}" ng-click="vote(rDate)" ng-disabled="disableFlag"></input></td>
		</tr>
	</table>

</div>


<div class="chart-container">
	<!-- This is the angular directive! In real HTML, there is no chart tag! -->
	<chart></chart>
	<div class="user-container">

		<select name="user-select" ng-change="setUser()" ng-model="currUser" class="selectpicker">
			<option value="">Choose User</option>
	  		<option ng-repeat="user in users" value="{{user}}" ng-selected="user.status">{{user.name}}</option>
		</select>

	</div>
</div>




